# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/
venv/

# Environment files
.env

# Pytest
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# macOS
.DS_Store

# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log

# Docker
*.log